@import "../../../styles/settings.scss";

.root {
  padding: 0 0 $base-padding 0;
  text-align: center;

  .category {
    color: $primary;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
