@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  .icon {
    font-size: 20px;
  }

  .description {
    margin: 20px;
    padding: 5px 40px;
  }

  .user {
    display: inline-flex;
    margin-bottom: 20px;
    .user_photo {
      width: 100px;
      height: 100px;
      padding: 5px;
      margin: 10px;
    }
    .user_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
