@import "../../../styles/settings.scss";

.root {
  margin: 30px 0;
  box-sizing: border-box;
  .row {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc ;
    padding: 30px 0;
    
    .imageOne {
      background-image: url($b-image-one) ;
    }
    .imageTwo {
      background-image: url($b-image-two) ;
    }
    .imageThree {
      background-image: url($b-image-three) ;
    }
    .imageFour {
      background-image: url($b-image-four) ;
    }
    .imageFive {
      background-image: url($b-image-five) ;
    }
    .imageSix {
      background-image: url($b-image-six) ;
      
    }

    .image {
      background-repeat: no-repeat;
      background-size: 90% 100%;
      height: 100px;
    }

    button {
      height: 100px;
      background-color: #2a2a2a;
      border: 0;
      color: white;
    }
  }
}
