@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $primary;
      border-color: $primary;
    }

    &:hover .icon:first-child {
      color: white;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      outline: none;
      font-size: 14px;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;

      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}


@media (max-width: 767px) {

  .root {
    height: 85px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .category {
      border: 1px solid $form-border-color;
      position: relative;
      width: 100%;

      select {
        width: 100%;
      }
    }

    .searchField {
      border: 1px solid $form-border-color;
      display: flex;
      position: relative;
      top: 5px;
      width: 80%;
      justify-content: flex-end;

    }
  } 
}


