@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $primary;
      border-color: $primary;
    }

    &:hover .icon:first-child {
      color: white;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
    .list {
      z-index: 1;

      ul {
        -webkit-appearance: none;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        padding: 5px 30px 5px 35px;
        outline: none;
        font-size: 14px;

        &:hover li {
          display: block;
        }

      }
    li {
      position: absolute;
      border: 0;
      width: 100%;
      background-color: white;
      padding: 5px 30px 5px 35px;
      display: none;
      left: 0;

      &:hover {
        background-color: $primary;
        color: white
      }
    }
  }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;

      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
