@import "../../../styles/settings.scss";

.root {
  padding: 2rem 0 0 0;


  .hidden {
    display: none;
  }

  .h100 {
    height: 100vh;
  }

  .shadowSm {
    .title {
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      div:last-of-type {
        font-weight: bold;
      }
    }

    .subtitle {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .buttonsSm {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  
  .altPanel {
    display: flex;
    justify-content: space-between;
    background-color: $featured-panel-bg;
    color: $featured-panel-color;
    padding: 10px;
  }

  .shopNow {
    background-color: $product-root-bg;
    border: 1px solid $product-root-border;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .shadow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $featured-panel-bg;
      color: $featured-panel-color;
      height: 50%;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      opacity: 0.5;
      transform: translateY(-50%);
      

      .title {
        width: 100%;
        font-size: 2.8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        div:last-of-type {
          font-weight: bold;
          margin: 0 15px;
        }
      }

      .subtitle {
        font-size: 1.5rem;
        text-align: center;
      }

    } 

    .buttons {
      position: absolute;
      top: 68%;
      left: 50%;
      transform: translate(-50%, 50%);
    }

  }
  .arrowWrapper {
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    background-color: $featured-panel-bg;
  }


  .dots {

    position: absolute;
    right: 0;
    top: 0;

    ul {
      margin: 0 1rem 0 0;
      padding: 0 0 0 0;
      list-style: none;
      background-color: $featured-panel-bg;

      li {
        display: inline-block;
        margin-left: 0.5rem;
        @include hover-animation;

        a {
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 6px;
          background-color: $nf-dots-link-bg;
          font-size: 0;

          &.active,
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }

  .fadeAppear {
    opacity: 0;
  }

  .fadeAppearActive {
    opacity: 1;
    transition: opacity 3s;
  }

  .fadeEnter {
    opacity: 0;
  }

  .fadeEnterActive {
    opacity: 1;
    transition: opacity 3s ease-in-out;
  }

  .fadeEnterActiveDone {
    opacity: 1;
    transition: opacity 3s;
  }

  .fadeExit {
    opacity: 1;
  }

  .fadeExitActive {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  .fadeExitDone {
    opacity: 0;
    transition: opacity 3s;
  }


}